<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include("../common/head.ejs") %>
        <title>로그인</title>

        <link href="/static/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/static/style.css" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
        />
    </head>
    <body>
        <div
            class="container-lg"
            style="
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <div style="height: fit-content; text-align: center">
                <h1 style="width: 100%"><strong>구글로 로그인</strong></h1>
                <div class="row">
                    <script
                        src="https://accounts.google.com/gsi/client"
                        async
                        defer
                    ></script>
                    <div
                        id="g_id_onload"
                        data-client_id="466546474630-s48sd0jjph3qdfup2mkjcevt8ch28nif.apps.googleusercontent.com"
                        data-callback="handleCredentialResponse"
                    ></div>
                    <div class="g_id_signin" data-type="standard"></div>
                </div>
            </div>
        </div>
        <script>
            function handleCredentialResponse(data) {
                location.href =
                    "/login/callback/google?token=" + data.credential;
            }
        </script>
    </body>
</html>
