<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include("../common/head.ejs") %>
        <title>로그인</title>

        <link href="/static/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/static/style.css" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
        />
    </head>
    <body>
        <%- include("../common/navbar.ejs") %>
        <div
            class="container-lg"
            style="
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <div style="height: fit-content; text-align: center">
                <h1 style="width: 100%"><strong>다음으로 로그인</strong></h1>
                <div class="row">
                    <a href="/login/google"
                        ><img height="50" src="/static/login/google.png"
                    /></a>
                </div>
                <div class="row mt-3">
                    <a href="/login/naver"
                        ><img height="50" src="/static/login/naver.png"
                    /></a>
                </div>
                <div class="row mt-3" style="display: inline">
                    <br />
                    <a href="/terms">이용약관</a> |
                    <a href="/privacy">개인정보 처리방침</a>
                </div>
            </div>
        </div>
        <script src="/static/common.js"></script>
    </body>
</html>
