<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include("./common/head.ejs") %>
        <title>로그인</title>

        <link href="/static/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/static/style.css" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
        />
    </head>
    <body>
        <div
            class="container-lg"
            style="
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <div style="height: fit-content; text-align: center">
                <h1 style="width: 100%"><strong>네이버로 로그인</strong></h1>
                <div class="row">
                    <a href="<%= url %>"
                        ><img height="50" src="/static/login/naver.png"
                    /></a>
                </div>
            </div>
        </div>

        <script>
            switch ("<%= error %>") {
                case "1": {
                    alert(
                        "오류가 발생했습니다. 다시 시도해주세요. \n이런 현상이 반복될 경우, 개발자에게 알려주세요."
                    );
                    break;
                }
                case "2": {
                    alert(
                        "오류가 발생했습니다. 다시 시도해주세요. \n이런 현상이 반복될 경우, 개발자에게 알려주세요."
                    );
                    break;
                }
                case "3": {
                    alert(
                        "이름, 닉네임, 이메일, 프로필 사진은 필수 제공 항목입니다."
                    );
                    break;
                }
            }
        </script>
    </body>
</html>
