<!DOCTYPE html>
<html>
    <head>
        <%- include("../common/head.ejs") %>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="/static/style.css" />
        <style>
            #container {
                height: 80vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        <%- include("../common/navbar.ejs") %>

        <div id="container" class="container">
            <h1>QR코드로 다른 기기에서 로그인하기</h1>
            <h1 id="placeholder">잠시만 기다려주세요...</h1>
        </div>
        <script>
            fetch(
                "/api/qrcode?data=https://classboard.kr/login/t/<%= token %>"
            ).then(async (e) => {
                document.getElementById("placeholder").remove();
                let qrcode = document.createElement("img");
                qrcode.src = await e.text();
                qrcode.style.imageRendering = "pixelated";
                qrcode.style.objectFit = "contain";
                qrcode.width = "500";
                qrcode.height = "500";
                document.getElementById("container").appendChild(qrcode);
                let timer = document.createElement("p");
                timer.innerText = "\n3:00";
                document.getElementById("container").appendChild(timer);
                let timerLeft = 179;
                setInterval(() => {
                    timer.innerText = `\n${Math.floor(timerLeft / 60)}:${String(
                        parseInt(timerLeft % 60)
                    ).padStart(2, "0")}`;
                    timerLeft -= 1;
                    if (timerLeft == 0) {
                        location.reload();
                    }
                }, 1000);
            });
        </script>
        <script src="/static/common.js"></script>
    </body>
</html>
