<!DOCTYPE html>
<html>
    <head>
        <%- include("../common/head.ejs") %>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        />
        <script
            src="https://kit.fontawesome.com/76a19131cd.js"
            crossorigin="anonymous"
        ></script>
        <style>
            tbody tr > td:nth-child(1) {
                cursor: pointer;
            }

            .badge {
                cursor: pointer;
            }
        </style>
        <title>학급 관리</title>
    </head>

    <body>
        <%- include("../common/navbar.ejs") %>
        <div class="container-xxl" style="height: 100%" id="main">
            <div class="row mb-2" style="height: 7em">
                <div
                    class="col pt-4 pb-4 p-lg-4 mt-3 m-lg-3 shadow box"
                    style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    "
                >
                    <div>
                        <h1 style="margin: 0px">
                            <strong id="school-grade-class">학급 관리</strong>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pt-4 pb-4 p-lg-4 mt-3 m-lg-3 shadow box">
                    <h2>초대코드</h2>
                    <div
                        style="
                            background-color: var(--box-bg);
                            width: fit-content;
                            padding: 8px;
                            border-radius: 3px;
                            border: 1px solid #3d3d3d;
                            color: #7a7aff;
                        "
                    >
                        <a><%= classroom.invite %></a>
                    </div>
                    <span
                        class="btn btn-primary"
                        onclick="copy('http:\/\/i.웹.한국/<%= classroom.invite %>')"
                        >복사</span
                    >
                </div>
            </div>
            <div class="row">
                <div class="col pt-4 pb-4 p-lg-4 mt-3 m-lg-3 shadow box">
                    <h2>공지 작성</h2>
                    <h2>
                        <a href="/new-notice" class="btn btn-primary"
                            >공지 작성</a
                        >
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col pt-4 pb-4 p-lg-4 mt-3 m-lg-3 shadow box">
                    <h2>자리 바꾸기</h2>

                    <h2>
                        <a href="/teacher/seat" class="btn btn-primary">이동</a>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col pt-4 pb-4 p-lg-4 mt-3 m-lg-3 shadow box">
                    <h2>학생 관리</h2>
                    <table class="table">
                        <thead>
                            <th class="col-1">이름</th>
                            <th class="col-1">이메일</th>
                            <% if (String(user._id) ==
                            String(classroom.class.MADE)) { %>
                            <th class="col-1">학급 관리 권한</th>
                            <% } %>
                            <th class="col-1">추방</th>
                        </thead>
                        <tbody id="students">
                            <% for (let student of students) { %>
                            <tr data-id="<%= student._id %>">
                                <td
                                    onclick="openProfile(event, '<%= student._id %>')"
                                >
                                    <img
                                        style="width: 2rem"
                                        src="<%= student.avatar %>"
                                    />
                                    <%= student.name ?? "실명 없음" %>
                                </td>
                                <td><%= student.email %></td>
                                <% if (String(user._id) ==
                                String(classroom.class.MADE)) { %>
                                <td>
                                    <% if (student.type == "teacher") { %>
                                    <button
                                        class="btn btn-sm bg-danger"
                                        onclick="deprive(event, '<%= student._id %>')"
                                    >
                                        <i
                                            class="fa fa-check"
                                            title="학급 관리 권한 제거"
                                        ></i>
                                    </button>
                                    <% } else { %>
                                    <button
                                        class="btn btn-sm bg-success"
                                        onclick="grant(event, '<%= student._id %>')"
                                    >
                                        <i
                                            class="fa fa-check"
                                            title="학급 관리 권한 부여"
                                        ></i>
                                    </button>
                                    <% } %>
                                </td>
                                <% } %>
                                <td>
                                    <button
                                        class="btn btn-sm bg-danger"
                                        onclick="ban(event, '<%= student._id %>')"
                                    >
                                        <i class="fa fa-ban" title="추방"></i>
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col pt-4 pb-4 p-lg-4 mt-3 m-lg-3 shadow box">
                    <h2>가입 요청</h2>
                    <table class="table">
                        <thead>
                            <th class="col-1">이름</th>
                            <th class="col-1">이메일</th>
                            <th class="col-1">수락/거절</th>
                        </thead>
                        <tbody id="join-request">
                            <% for (const student of join_request) { %>
                            <tr data-id="<%= student._id %>">
                                <td
                                    onclick="openProfile(event, '<%= student._id %>')"
                                >
                                    <img
                                        style="width: 2rem"
                                        src="<%= student.avatar %>"
                                    />
                                    <%= student.name ?? "실명 없음" %>
                                </td>
                                <td><%= student.email %></td>
                                <td>
                                    <button
                                        class="btn btn-sm bg-primary"
                                        onclick="accept(event, '<%= student._id %>')"
                                    >
                                        <i class="fa fa-check" title="거절"></i>
                                    </button>
                                    <button
                                        class="btn btn-sm bg-danger"
                                        onclick="reject(event, '<%= student._id %>')"
                                    >
                                        <i class="fa fa-x" title="거절"></i>
                                    </button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="display: flex; align-items: center">
                <div
                    class="col pt-4 pb-4 p-4 m-lg-3 mt-4 shadow box"
                    style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    "
                >
                    <p style="margin: 0px; height: fit-content">
                        &copy; 2022. Sol-Studio. All Rights Reserved.
                    </p>
                    <button
                        class="btn btn-primary"
                        onclick="location = 'https:\/\/toss.me/SolStudio'"
                    >
                        후원
                    </button>
                </div>
            </div>
        </div>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            function openProfile(event, id) {
                event.stopPropagation();
                event.preventDefault();
                if (
                    event.target.tagName == "I" ||
                    event.target.tagName == "BUTTON"
                ) {
                    return;
                }
                open("/user/" + id);
            }

            function ban(event, id) {
                if (
                    !confirm(
                        `정말 ${$(`[data-id='${id}'] > td:nth-child(1)`)
                            .text()
                            .replaceAll(" ", "")
                            .replaceAll(
                                "\n",
                                ""
                            )} 학생을 추방하시겠습니까? 다시 가입하려면 초대 코드가 필요합니다.`
                    )
                )
                    return;
                $.ajax({
                    url: "/api/teacher/student.ban",
                    data: {
                        user: id,
                    },
                    method: "POST",
                });
                $("tr[data-id='" + id + "']").remove();
            }
            function grant(event, id) {
                $.ajax({
                    url: "/api/teacher/grant-permission",
                    data: {
                        user: id,
                    },
                    method: "POST",
                    success: () => {
                        $("tr[data-id='" + id + "']")
                            .children("td:nth-child(3)")
                            .children("button")
                            .removeClass("bg-success")
                            .addClass("bg-danger")
                            .children("i")
                            .attr("title", "학급 관리 권한 제거");
                    },
                });
            }
            function deprive(event, id) {
                $.ajax({
                    url: "/api/teacher/deprive-permission",
                    data: {
                        user: id,
                    },
                    method: "POST",
                    success: () => {
                        $("tr[data-id='" + id + "']")
                            .children("td:nth-child(3)")
                            .children("button")
                            .removeClass("bg-danger")
                            .addClass("bg-success")
                            .children("i")
                            .attr("title", "학급 관리 권한 부여");
                    },
                });
            }
            function reject(event, id) {
                $.ajax({
                    url: "/api/teacher/join.reject",
                    data: {
                        user: id,
                    },
                    method: "POST",
                });
                $("tr[data-id='" + id + "']").remove();
            }

            function accept(event, id) {
                $.ajax({
                    url: "/api/teacher/join.accept",
                    data: {
                        user: id,
                    },
                    method: "POST",
                    success: (data) => {
                        if (data.success) {
                            $("#students").append(`
                        <tr onclick="openProfile(event, '${
                            data.user._id
                        }')" data-id="${data.user._id}">
                            <td>
                                <img style="width: 2rem;" src="${
                                    data.user.avatar
                                }">
                                ${data.user.name ?? "실명 없음"}
                            </td>
                            <td>${data.user.email}</td>
                            <td>
                                <button class="btn btn-sm bg-danger" onclick="ban(event, '${
                                    data.user._id
                                }')">
                                    <i class="fa fa-ban" title="추방하기"></i>
                                </button>
                            </td>
                        </tr>
                    `);
                        }
                    },
                });
                $("tr[data-id='" + id + "']").remove();
                $.ajax({
                    url: "/api/user",
                    data: {
                        user: id,
                    },
                    method: "GET",
                    success: (data) => {},
                });
            }

            function copy(text) {
                var tempElem = document.createElement("textarea");
                tempElem.value = text;
                document.body.appendChild(tempElem);

                tempElem.select();
                document.execCommand("copy");
                document.body.removeChild(tempElem);
                alert(
                    "초대 URL이 복사되었습니다. 원하시는 곳에 붙여넣어주세요."
                );
            }
        </script>
        <script src="/static/common.js"></script>
    </body>
</html>
