<nav class="navbar navbar-expand-lg fixed-top" id="navbar" style="background: var(--bg)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">클래스보드</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="navbar-main" class="nav-link" href="/main">내 클래스</a>
        </li>
        <% if (user_id) { %>
            <li class="nav-item">
                <a id="navbar-setting" class="nav-link" href="/setting">설정</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a id="navbar-login" class="nav-link" href="/login">로그인</a>
            </li>
        <% } %>
        <% if (user_type == "teacher") { %>
          <li id="navbar-teacher" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              선생님 메뉴
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/teacher">학급 관리</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/teacher/seat">자리 바꾸기</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<script>
  window.addEventListener("load", () => {
    document.body.style.marginTop = `${document.getElementById("navbar").offsetHeight}px`;
    document.getElementById("navbar").classList.add("navbar-" + localStorage.getItem("theme"));
    document.getElementById("navbar-" + new URL(location.href).pathname.split("/")[1]).classList.add("active");
  });
</script>