<div class="row p-4 mt-4 mb-4 shadow box">
    <div style="display: flex; justify-content: space-between">
        <a href="/calendar" style="width: fit-content">
            <h3 style="display: inline-block; width: fit-content; margin: 0px">
                <strong>캘린더</strong>
            </h3>
        </a>
    </div>
</div>
