<div class="row p-4 mt-4 shadow box">
    <div style="display: flex; justify-content: space-between">
        <a href="/notice">
            <h3><strong>공지사항</strong></h3>
        </a>
        <div>
            <% if (user_type == "teacher") { %>
                <a href="/new-notice" style="color: var(--link);">
                    <i class="fa fa-pencil"></i>
                    공지 작성
                </a>
            <% } %>
        </div>
    </div>

    <ul id="notice" class="list-group"></ul>
    <script>
        async function fetchNotice() {
            $("#notice").innerHTML = "로드중...";

            fetch(`/api/notice?skip=0`, {
                method: "GET",
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        $("#notice").innerHTML = "";
                        for (const d of data.notice) {
                            $("#notice").insertAdjacentHTML(
                                "beforeend",
                                `<li class="list-group-item" onclick="openNotice('${d.id}')">${d.title}</li>`
                            );
                        }
                        if (data.notice.length == 0) {
                            $("#notice").insertAdjacentHTML(
                                "beforeend",
                                `<strong class="list-group-item">공지 없음</strong>`
                            );
                        }
                    } else {
                        $("#notice").innerHTML = "오류가 발생했습니다.";
                        throw Error(
                            data.message ??
                                "fetchNotice:success->false, no message"
                        );
                    }
                });
        }
        window.addEventListener("load", fetchNotice)
    </script>
</div>
