<div class="row p-4 mt-4 shadow box">
    <div style="display: flex; justify-content: space-between">
        <a href="/post" style="width: fit-content">
            <h3 style="display: inline-block; width: fit-content">
                <strong>게시물</strong>
            </h3>
        </a>
        <a href="/new-post" style="color: var(--link)">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
            게시물 작성
        </a>
    </div>
    <ul id="posts" class="list-group"></ul>
    <script>
        async function fetchpost() {
            $("#posts").innerHTML = "로드중...";

            fetch(`/api/post?skip=0`, {
                method: "GET",
            })
                .then((d) => d.json())
                .then((data) => {
                    if (data.success) {
                        $("#posts").innerHTML = "";
                        for (const d of data.post) {
                            $("#posts").insertAdjacentHTML(
                                "beforeend",
                                `<li class="list-group-item" onclick="openPost('${d.id}')">${d.title}</li>`
                            );
                        }
                        if (data.post.length == 0) {
                            $("#posts").insertAdjacentHTML(
                                "beforeend",
                                `<li class="list-group-item"><strong style="color: black;">게시글 없음</strong></li>`
                            );
                        }
                    } else {
                        $("#posts").insertAdjacentHTML(
                            "beforeend",
                            `<li class="list-group-item"><strong style="color: black;">오류 발생</strong></li>`
                        );
                        throw Error(
                            data.message ??
                                "fetchpost:success->false, no message"
                        );
                    }
                });
        }
        function openPost(link) {
            location.href = "/post/" + link;
        }

        function newPost() {
            location.href = "/new-post";
        }
        window.addEventListener("load", fetchpost)
    </script>
</div>
