[data-theme="dark"] {
    --bg: #3b424f;
    --box-bg: #2a2e37;
    --text: #c9d1d9;
    --border: #464646;
    --hover: rgba(255, 255, 255,0.1);
    --link: #5b64bb;
    --other: rgb(27, 26, 27);
}

[data-theme="light"] {
    --bg: #f3f5f7;
    --box-bg: #ffffff;
    --text: #202124;
    --border: #777f86;
    --hover: rgba(0,0,0,0.1);
    --link: #4e5cde;
    --other: rgb(204, 204, 204);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--text);
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: var(--bg);
}
td.class:hover,
th.dayofweek:hover {
    background-color: var(--hover);
    cursor: pointer;
}



.box {
    border-radius: 1rem;
    background-color: var(--box-bg);
}

td,
th {
    text-align: center;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.active {
    background-color: var(--hover);
}
li {
    cursor: pointer;
}
a > h3 > strong {
    text-decoration: none;
    color: var(--link);
}
a {
    text-decoration: none;
}
#sidebar {
    padding: 0px;
    background-color: var(--box-bg);
}
.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
  }
  
  .content-container {
    padding-top: 20px;
  }
  
  .sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #3c9cdb;
  }
  
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: var(--text);
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li::before {
    background-color: #4a9dd4;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--other);
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding-left: 220px;
  }