:root {
    --light-bg: #f3f5f7;
    --light-box-bg: #ffffff;
    --light-text: #202124;
    --light-hover: rgba(0, 0, 0, 0.1);
    --light-link: #4e5cde;

    --dark-bg: #181818;
    --dark-box-bg: #252525;
    --dark-text: #ffffff;
    --dark-hover: rgba(255, 255, 255, 0.1);
    --dark-link: #57acdc;
}

@font-face {
    font-family: "ONE-Mobile-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    transition: background 0.6s;
    font-family: "ONE-Mobile-Regular", sans-serif;
    color: var(--text);
}
html,
body {
    transition: background 0.6s;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: var(--bg);
}

.box {
    border-radius: 1rem;
    background-color: var(--box-bg);
}

.active {
    background-color: var(--hover);
}
li {
    cursor: pointer;
}
a > h3 > strong {
    text-decoration: none;
    color: var(--link);
}
a {
    text-decoration: none;
}
