<!DOCTYPE html>
<html>
    <head>
        <%- include("./common/head.ejs") %>
        <title>404 NOT FOUND</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />

        <style>
            @font-face {
                font-family: "ROKAFSansBold";
                src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
                    format("woff");
                font-weight: normal;
                font-style: normal;
            }
            * {
                font-family: "ROKAFSansBold";
            }
            .navbar {
                background-color: var(--box-bg);
            }
        </style>
        <script
            src="https://kit.fontawesome.com/76a19131cd.js"
            crossorigin="anonymous"
            async
        ></script>
    </head>
    <body>
        <nav class="navbar fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">클래스보드</a>
                <div>
                    <button
                        class="btn btn-outline-primary"
                        onclick="location='/'"
                    >
                        홈화면으로 가기
                    </button>
                </div>
            </div>
        </nav>
        <div
            style="
                display: flex;
                width: 100vw;
                height: 100vh;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            "
        >
            <h1>404</h1>
            <p style="color: gray">존재하지 않는 페이지입니다.</p>
            <button
                class="btn btn-lg btn-primary"
                onclick="location='/'"
                style="box-shadow: 0px 0px 30px 5px var(--bs-primary)"
            >
                홈화면으로 가기
            </button>
        </div>
        <script src="/static/common.js"></script>
    </body>
</html>
