<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include("./common/head.ejs") %>
        <title>학급 등록</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div
            class="container"
            style="
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <form
                class="box p-3"
                style="
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                "
                action=""
                method="post"
            >
                <h1 style="width: fit-content">학급 등록</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">학교</span>
                    </div>
                    <input type="text" class="form-control" name="school" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">학년</span>
                    </div>
                    <input type="number" name="grade" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">반</span>
                    </div>
                    <input type="text" class="form-control" name="class" />
                </div>
                <div class="input-group mb-3">
                    <input type="submit" class="form-control" />
                </div>
            </form>
        </div>
        <script>
            switch ("<%= error %>") {
                case "noschool": {
                    alert("학교가 검색되지 않았습니다.");
                    break;
                }
                case "toomanyschool": {
                    alert("정확한 학교 이름을 입력해주세요.");
                    break;
                }
                case "noclass": {
                    alert("반이 존재하지 않습니다.");
                    break;
                }
                case "alreadyexist": {
                    alert("이미 반이 등록되어있습니다.");
                    break;
                }
            }
        </script>
        <script src="/static/common.js"></script>
    </body>
</html>
