<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta name="apple-mobile-web-app-title" content="클래스보드" />
        <link rel="apple-touch-icon" href="/static/common/logo.png" />
        <link rel="manifest" href="/static/manifest.json" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker
                    .register("/pwabuilder-sw.js")
                    .then((reg) => {
                        console.log("서비스 워커가 등록됨.", reg);
                    });
            }
            let deferredPrompt;

            window.addEventListener("beforeinstallprompt", (event) => {
                event.preventDefault();
                deferredPrompt = event;
                document.getElementById("install-pwa").style.display = "block";
            });
            window.addEventListener("DOMContentLoaded", () => {
                window
                    .matchMedia("(display-mode: standalone)")
                    .addListener((event) => {
                        if (event.matches)
                            document.getElementById(
                                "install-pwa"
                            ).style.display = "none";
                    });
            });

            const installApp = () => {
                if (!deferredPrompt) {
                    Swal.fire({
                        icon: "error",
                        title: "앱 설치에 실패했습니다.",
                        html: "이미 앱이 설치되어있거나 앱 설치를 지원하지 않는 브라우저입니다.<br><a href='/how-to-install-app'>앱 설치 방법 보기</a>",
                    });
                    return;
                }

                deferredPrompt.prompt();
            };
        </script>
        <%- include("./common/head.ejs") %>
        <script async src="/static/common.js"></script>
        <title>클래스보드</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />

        <style>
            @font-face {
                font-family: "ROKAFSansBold";
                src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
                    format("woff");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }
            #main {
                display: flex;
                height: 100vh;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-family: "ROKAFSansBold";
            }
        </style>
        <script
            src="https://kit.fontawesome.com/76a19131cd.js"
            crossorigin="anonymous"
            async
        ></script>
    </head>
    <body>
        <%- include("./common/navbar.ejs") %>
        <div id="main">
            <h1>클래스보드</h1>
            <div class="container">
                <p style="text-align: center; color: calc(var(--text))">
                    시간표, 급식, 공지사항, 학급 내 커뮤니티까지 언제 어디서나
                    확인하세요!
                </p>
            </div>

            <% if (user) { %>
            <a
                class="btn btn-lg btn-primary"
                href="/main"
                style="box-shadow: 0px 0px 30px 5px var(--bs-primary)"
            >
                입장하기
            </a>
            <% } else { %>
            <a
                class="btn btn-lg btn-primary"
                href="/login"
                style="box-shadow: 0px 0px 30px 5px var(--bs-primary)"
            >
                로그인
            </a>
            <% } %>
            <div id="install-app"></div>
            <script>
                function getAgentSystem() {
                    if (!("navigator" in window)) {
                        return "unknown";
                    }
                    const platform = (
                        navigator.userAgentData?.platform || navigator.platform
                    )?.toLowerCase();
                    const userAgent = navigator.userAgent.toLowerCase();

                    if (platform.startsWith("win")) return "windows";
                    if (platform.startsWith("mac")) return "macos";
                    if (platform.startsWith("linux")) return "linux";
                    if (userAgent.indexOf("android") > -1) return "android";
                    else if (
                        userAgent.indexOf("iphone") > -1 ||
                        userAgent.indexOf("ipad") > -1 ||
                        userAgent.indexOf("ipod") > -1
                    )
                        return "ios";

                    return "unknown";
                }
                function getInstallHTML() {
                    switch (getAgentSystem()) {
                        case "android": {
                            return `<a class="mt-4" href="https://play.google.com/store/apps/details?id=kr.classboard.sol"><img style="width: 10rem" alt="다운로드하기 Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/ko_badge_web_generic.png"/></a>`;
                        }
                        default: {
                            return `<button onclick="installApp()" class="mt-4 btn btn-success">앱 설치</button>`;
                        }
                    }
                }
                document.getElementById("install-app").innerHTML =
                    getInstallHTML();
            </script>
        </div>
        <div style="background-color: var(--hover)">
            <div class="container-xl">
                <div
                    style="
                        display: flex;
                        height: fit-content;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                    "
                >
                    <div class="mt-4 mb-4">
                        <a class="me-2" href="/privacy">개인정보 처리방침</a> |
                        <a class="ms-2 me-2" href="/terms">서비스 이용약관</a> |
                        <a class="ms-2 me-2" href="/jobs"
                            >Sol Studio 합류하기</a
                        >
                        |
                        <a
                            class="ms-2 me-2"
                            href="https://sol-studio.tistory.com/category/%ED%81%B4%EB%9E%98%EC%8A%A4%EB%B3%B4%EB%93%9C"
                        >
                            클래스보드 기술 블로그
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/common.js"></script>
        <% if (!user_id) { %>
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
        ></script>
        <div
            id="g_id_onload"
            data-auto_select="true"
            data-client_id="466546474630-s48sd0jjph3qdfup2mkjcevt8ch28nif.apps.googleusercontent.com"
            data-callback="handleCredentialResponse"
        ></div>
        <script>
            function handleCredentialResponse(e) {
                location.href = "/login/callback/google?token=" + e.credential;
            }
        </script>
        <% } %>
    </body>
</html>
