<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>점검중</title>
    <link rel="stylesheet" href="/static/index/css/indigo.css" id="theme-color">
</head>
<body>
<section class="py-7 py-md-0" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">서버 점검중입니다</h1>
                <p class="lead py-3">점검 일정 : 0000년 00월 00일 00:00 ~ 0000년 00월 00일 00:00</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>