<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include("./common/head.ejs") %>
        <title>학급 등록</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <%- include("./common/navbar.ejs") %>
        <div
            class="container"
            style="
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <div
                class="box p-3"
                style="
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                "
            >
                <h1 style="width: fit-content">학급 가입</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">초대코드</span>
                    </div>
                    <input type="text" id="invite-code" class="form-control" />
                </div>
                <div class="input-group mb-3">
                    <input type="submit" id="submit" class="form-control" />
                </div>
            </div>
        </div>
        <script>
            if (`<%=error%>`) {
                alert("유효하지 않은 초대코드입니다!");
            }
            document.getElementById("submit").addEventListener("click", () => {
                location.href =
                    "/invite/" + document.getElementById("invite-code").value;
            });
        </script>
        <script src="/static/common.js"></script>
    </body>
</html>
