<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta name="apple-mobile-web-app-title" content="클래스보드" />
        <link rel="apple-touch-icon" href="/static/common/logo.png" />
        <link rel="manifest" href="/static/manifest.json" />
        <%- include("./common/head.ejs") %>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <style>
            td.class:hover,
            th.dayofweek:hover {
                background-color: var(--hover);
                cursor: pointer;
            }

            .dayofweek {
                text-align: center;
            }

            @media screen and (max-width: 800px) {
                td {
                    font-size: small;
                }
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            if (localStorage.getItem("theme") == "dark") {
                let link = document.createElement("link");
                link.href =
                    "https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css";
                link.rel = "stylesheet";
                document.head.appendChild(link);
            }
        </script>
        <link href="/static/style.css" , rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>클래스보드 - 홈</title>
        <style>
            @keyframes spinner {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            @keyframes fadeout {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                    display: none;
                }
            }

            .spinner {
                box-sizing: border-box;
                width: 20vh;
                height: 20vh;
                margin-top: -32px;
                margin-left: -32px;
                border-radius: 50%;
                border: 1rem solid transparent;
                border-top-color: #22c8f1;
                border-bottom-color: #22c8f1;
                animation: spinner 0.8s ease infinite;
            }

            .fadeout {
                animation: fadeout 0.5s;
            }
        </style>
        <script>
            navigator.serviceWorker.register("/pwabuilder-sw.js");
        </script>
        <script>
            var monday = `<%= monday.replaceAll("-", "") %>`;
            var grade = "<%= grade %>";
            var class_ = "<%= classroom %>";
            var school_name = "<%= school_name %>";
        </script>
        <script src="/static/main.js"></script>
    </head>

    <body>
        <%- include("./common/navbar.ejs") %>
        <div class="container-xl w-auto" style="min-height: 100vh" id="main">
            <div class="row mb-2" style="height: 7em">
                <div class="col p-lg-4 p-3 mt-3 m-lg-3 shadow box">
                    <div class="row d-flex align-items-center h-100">
                        <div class="col">
                            <div>
                                <h2 style="margin: 0px">
                                    <strong id="school-grade-class"
                                        >로딩...</strong
                                    >
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-lg-4 mt-3">
                <div
                    class="col-lg-7 p-lg-4 pt-3 m-lg-3 shadow box"
                    style="height: fit-content"
                    id="timetable"
                >
                    <div style="display: flex; justify-content: space-between">
                        <button
                            class="btn p-0"
                            style="width: 2em"
                            onclick="fetchTimeTable(getLastMonday())"
                            title="지난주 시간표"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 448 512"
                            >
                                <path
                                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                                />
                            </svg>
                        </button>
                        <div>
                            <h2
                                style="display: inline-block"
                                id="timetable-title"
                            >
                                시간표 (<span id="timetable-date"></span>)
                            </h2>
                            <button
                                class="btn p-0"
                                style="width: 2em"
                                onclick="fetchTimeTable(currentMonday, 'true')"
                                title="시간표 업데이트"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="1em"
                                    viewBox="0 0 512 512"
                                >
                                    <path
                                        d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z"
                                    />
                                </svg>
                            </button>
                        </div>
                        <button
                            class="btn p-0"
                            style="width: 2em"
                            onclick="fetchTimeTable(getNextMonday())"
                            title="다음주 시간표"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 448 512"
                            >
                                <path
                                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                                />
                            </svg>
                        </button>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%"></th>
                                <th style="width: 19%" class="dayofweek">월</th>
                                <th style="width: 19%" class="dayofweek">화</th>
                                <th style="width: 19%" class="dayofweek">수</th>
                                <th style="width: 19%" class="dayofweek">목</th>
                                <th style="width: 19%" class="dayofweek">금</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                            <tr>
                                <th>4</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                            <tr>
                                <th>5</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                            <tr>
                                <th>6</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                            <tr>
                                <th>7</th>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                                <td class="class"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div
                        class="p-3 mt-4 mb-lg-0 mb-3"
                        style="
                            border-color: var(--text);
                            border-style: solid;
                            border-width: 1px;
                        "
                    >
                        <h3><strong>급식</strong></h3>
                        <h4 id="meal-date"></h4>
                        <p id="meal">로드중..</p>
                    </div>
                </div>
                <div class="col m-lg-3 mt-3" id="widgets">
                    <% for (let widget of sidebar) { %> <%-
                    include("widget/"+widget) %> <% } %>
                </div>
                <script>
                    document
                        .getElementById("widgets")
                        .children[0].classList.remove("mt-4");
                </script>
            </div>
        </div>
        <div style="background-color: var(--hover)" id="footer">
            <div class="container p-4">
                <h3>클래스보드</h3>
                <div class="row">
                    <div class="col-8 d-flex">
                        <a class="me-1" href="/privacy">개인정보처리방침</a>
                        |
                        <a class="ms-1 me-1" href="/terms">이용약관</a>
                        |
                        <a
                            class="ms-1 me-1"
                            href="https://sol-studio.tistory.com/category/클래스보드"
                            target="_blank"
                            >기술블로그</a
                        >
                    </div>
                    <div class="col-4">
                        <h5>문의</h5>
                        모든 문의는
                        <a href="mailto:contact@classboard.kr"
                            >contact@classboard.kr</a
                        >
                    </div>
                </div>

                <p>Copyright &copy;Sol-Studio. All rights reserved.</p>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="error">
            <div class="modal-dialog" role="document">
                <div
                    class="modal-content shadow box"
                    style="background-color: var(--box-bg)"
                >
                    <div class="modal-header">
                        <h5 class="modal-title text-danger">오류!</h5>
                    </div>
                    <div class="modal-body" style="color: var(--text)">
                        <p id="error-message"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            onclick="$('#error').classList.remove('show');$('#error').style.display='none'"
                        >
                            닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/common.js"></script>
    </body>
</html>
