<!DOCTYPE html>
<html>
    <head>
        <%- include("./common/head.ejs") %>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/style.css" , rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>공지 목록</title>
        <style>
            .item {
                cursor: pointer;
            }
            @media screen and (max-width: 992px) {
                .author > img {
                    display: none;
                }
            }
        </style>
    </head>

    <body>
        <div class="container-lg" style="height: 100%" id="main">
            <div class="row mb-2" style="height: 7em">
                <div
                    class="p-4 mt-3 m-lg-3"
                    style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    "
                >
                    <div>
                        <h2 style="margin: 0px">
                            <strong id="school-grade-class"
                                ><%= school_name %> <%= grade %>학년 <%=
                                classroom %>반 공지 목록</strong
                            >
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row" id="list">
                <div class="p-4 mt-3 m-lg-3 shadow box" id="tmp">
                    <h4>로드중</h4>
                    <p>로드중..</p>
                </div>
            </div>
        </div>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            var page = 0;
            var stop = false;
            var fetching = false;
            function fetchList() {
                fetching = true;
                $.ajax({
                    url: "/api/notice",
                    method: "GET",
                    data: {
                        skip: page * 10,
                        preview: true,
                    },
                    success: (data) => {
                        $("#tmp").remove();
                        if (data.success) {
                            if (data.notice.length == 0) {
                                stop = true;
                            }
                            if (
                                data.notice.length == 0 &&
                                $(".item").length == 0
                            ) {
                                $("#list").append(`
                                <div class="p-4 mt-3 m-lg-3 shadow box">
                                    <div>
                                        <h4>게시글 없음</h4>
                                        <p>등록된 게시글이 없습니다.</p>
                                    </div>
                                </div>
                            `);
                            }
                            for (const d of data.notice) {
                                $("#list").append(`
                                <div class="p-4 mt-3 m-lg-3 shadow box item" onclick="openNotice('${
                                    d.id
                                }')">
                                    <div>
                                        <h4>${d.title}</h4>
                                        <p>${d.preview}...</p>
                                    </div>
                                    <hr>
                                    <div style="display: flex;justify-content: space-between;">
                                        <div class="author">
                                            <img src="${
                                                d.author.avatar
                                            }" style="width: 2rem">
                                            <span>${d.author.name}</span>
                                        </div>
                                        <div class="time" data-timestamp="${
                                            d.timestamp
                                        }">
                                            ${moment(
                                                new Date(d.timestamp)
                                            ).format("YYYY-MM-DD HH:mm:SS")}
                                        </div>
                                    </div>
                                </div>
                            `);
                                const article = document.querySelector("#list");
                                const docFrag =
                                    document.createDocumentFragment();
                                article.appendChild(docFrag);
                            }
                        } else {
                            alert("오류 : Fail GET /api/notice");
                        }
                        page++;
                        fetching = false;
                    },
                });
            }
            fetchList();
            (function () {
                window.onscroll = function (e) {
                    if (
                        window.innerHeight + window.scrollY >=
                            document.body.offsetHeight &&
                        !stop &&
                        !fetching
                    ) {
                        fetchList();
                    }
                };
            })();
            function openNotice(link) {
                open("/notice/" + link);
            }
            function win_onresize() {
                if (window.innerWidth > 992) {
                    $(".time")
                        .toArray()
                        .forEach((ele) => {
                            ele.textContent = moment(
                                new Date(
                                    parseInt(
                                        ele.attributes["data-timestamp"].value
                                    )
                                )
                            ).format("YYYY-MM-DD HH:mm:SS");
                        });
                } else {
                    $(".time")
                        .toArray()
                        .forEach((ele) => {
                            ele.textContent = moment(
                                new Date(
                                    parseInt(
                                        ele.attributes["data-timestamp"].value
                                    )
                                )
                            ).format("YYYY/M/D");
                        });
                }
            }
            win_onresize();
            window.onresize = win_onresize;
            <script src="/static/common.js"></script>
        </script>
    </body>
</html>
