<!DOCTYPE html>
<html>
    <head>
        <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8112542064837410"
            crossorigin="anonymous"
        ></script>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/style.css" , rel="stylesheet" />
        <script src="/static/common.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= data.title %></title>
        <meta property="og:title" content="클래스보드" />
        <meta
            property="og:description"
            content="시간표, 급식, 공지사항, 학급 내 커뮤니티까지 언제 어디서나 확인하세요!"
        />
        <meta
            property="og:image"
            content="https://sol-studio.ga/static/common/logo.png"
        />
        <style>
            textarea {
                background-color: var(--box-bg);
            }
        </style>
        <script
            src="https://kit.fontawesome.com/76a19131cd.js"
            crossorigin="anonymous"
            async
        ></script>
    </head>

    <body>
        <div class="container-xxl" style="height: 100%" id="main">
            <div class="row mb-2" style="height: 7em">
                <div
                    class="col p-4 mt-3 m-lg-3 shadow box"
                    style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    "
                >
                    <div>
                        <h2 style="margin: 0px">
                            <strong id="school-grade-class"
                                ><%= data.title %></strong
                            >
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col p-4 mt-3 m-lg-3 shadow box">
                    <div style="float: left">
                        <img
                            class="rounded"
                            style="
                                width: 4rem;
                                height: 4rem;
                                margin-right: 1rem;
                            "
                            src="<%= author.avatar %>"
                        />
                    </div>
                    <div>
                        <h5 style="margin: 0px; padding: 0px">
                            <%= author.name %>
                        </h5>
                        <p id="timestamp" style="color: gray"></p>
                    </div>

                    <hr />
                    <div class="p-3"><%- data.content %></div>
                    <hr />
                    <div class="p-3 pt-0">
                        <p>공유</p>
                        <a id="share-kakao" href="javascript:;">
                            <img
                                style="width: 2rem; height: 2rem"
                                src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
                                alt="카카오톡으로 공유"
                            />
                        </a>
                        <a
                            class="ms-1"
                            id="share-link"
                            href="javascript:;"
                            onclick="copy('<%= serviceURL %>/post/<%= data._id %>')"
                        >
                            <img
                                style="width: 2rem; height: 2rem"
                                src="https://upload.wikimedia.org/wikipedia/commons/5/56/Chain_link_icon_slanted.png"
                            />
                        </a>
                        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
                        <script type="text/javascript">
                            if (
                                window.matchMedia(
                                    "(prefers-color-scheme: dark)"
                                ).matches
                            ) {
                                document.querySelector(
                                    "#share-link"
                                ).style.filter = "invert()";
                            }
                            function copy(text) {
                                var tempElem =
                                    document.createElement("textarea");
                                tempElem.value = text;
                                document.body.appendChild(tempElem);

                                tempElem.select();
                                document.execCommand("copy");
                                document.body.removeChild(tempElem);
                                alert(
                                    "URL이 복사되었습니다. 원하시는 곳에 붙여넣어주세요."
                                );
                            }
                            Kakao.init("9110cc5f2159504e8844c4a23cea3929");
                            Kakao.isInitialized();
                            Kakao.Link.createDefaultButton({
                                container: "#share-kakao",
                                objectType: "text",
                                text: "글을 공유했습니다 : <%= data.title %>",
                                link: {
                                    mobileWebUrl:
                                        "https://sol-studio.ga/post/<%= data._id %>",
                                    webUrl: "https://sol-studio.ga/post/<%= data._id %>",
                                },
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pt-4 p-lg-4 mt-3 m-lg-3 shadow box">
                    <div>
                        <h2>댓글 달기</h2>
                        <textarea
                            id="content-"
                            style="width: 100%"
                            placeholder="댓글을 남겨보세요"
                        ></textarea>
                        <div
                            style="
                                display: flex;
                                justify-content: space-between;
                            "
                        >
                            <div></div>
                            <button
                                class="btn btn-primary"
                                onclick="addComment()"
                            >
                                등록
                            </button>
                        </div>
                    </div>
                    <div id="comment"></div>
                </div>
            </div>
        </div>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <script>
            moment.locale("ko");
            document.querySelector("#timestamp").innerHTML = moment(new Date(<%= data.timestamp %>)).fromNow()
        </script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            var id = '<%= data._id %>'
            var user = <%- JSON.stringify(user) %>
        </script>
        <script src="/static/comment.js" onload="loadComment()" async></script>
    </body>
</html>
