<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include("./common/head.ejs") %>
        <title>학급 등록</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <%- include("./common/navbar.ejs") %>
        <div
            class="container"
            style="
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            "
        >
            <div class="box p-3">
                <h1>가입 신청이 완료되었습니다.</h1>
                <p>선생님의 승인을 기다리고 있습니다.</p>
                <br />
                <a href="/">돌아가기</a>
            </div>
        </div>
        <script src="/static/common.js"></script>
    </body>
</html>
